body {
    background-color: white;
}

#light {
    position: absolute;
    top: 1%;
    left: 1%;
}

#cards-container {
    overflow-x: scroll;
    white-space: nowrap; /* Prevents line breaks */
    width: 85%;
    margin: 25px auto 0 auto;
    background-color: white;
    border: black solid 5px;
    border-radius: 10px;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: rgb(255, 0, 0) black; /* For Firefox */
}

#cards-container::-webkit-scrollbar {
    width: 12px; /* Set the width of the scrollbar */
}

#cards-container::-webkit-scrollbar-thumb {
    background-color: rgb(255, 0, 0); /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners of the scrollbar thumb */
}

#cards-container::-webkit-scrollbar-track {
    background-color: black; /* Color of the scrollbar track */
}

.cards {
    display: inline-block;
    padding: 0 5px 25px 5px;
    cursor: pointer;
    font-size: 150px; 
}

.cards:hover {
    background-color: rgb(0, 200, 0);
}

.red_cards {
    color: red;
}

#p_heading, #c_heading {
    display: none;
}

#hole_cards, #com_cards {
    font-size: 150px;
}

#hand {
    font-size: 30px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0;
}

#best_cards {
    font-size: 150px;
    text-align: center;
    background-color: rgb(0, 200, 0);
}

.best_cards_border {
    border: solid black 5px;
    border-radius: 10px;
}

.test {
    color: rgb(0, 200, 0);
}

.all_buttons {
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    border: solid rgb(0, 0, 0) 3px;
    font-weight: bold;
    padding-right: 10px;
    padding-left: 10px;
    color: white;
}

.all_buttons:hover {
    background-color: red;
    border: solid red 3px;
}

#sub {
    display: none;
    margin: 0 auto;
}

#new_hand {
    display: none;
    margin: 0 auto 20px auto;
}

.black {
    color: black;
}

/* Media Queries */

@media (max-width: 767px) {
    #cards-container {
        width: 100%;
    }
    #best_cards {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 1600px) {
    .cards, #best_cards, #hole_cards, #com_cards {
        font-size: 130px;
    }
}

@media (max-width: 1400px) {
    .cards, #best_cards, #hole_cards, #com_cards {
        font-size: 115px;
    }
}

@media (max-width: 1300px) {
    .cards, #best_cards, #hole_cards, #com_cards {
        font-size: 110px;
    }
}

@media (max-width: 1200px) {
    .cards, #best_cards, #hole_cards, #com_cards {
        font-size: 105px;
    }
}

/* Adjust card sizing on screens smaller than 400px */

@media (max-width: 398px) {
    .cards, #best_cards, #hole_cards, #com_cards {
        font-size: 95px;
    }
}

@media (max-width: 363px) {
    .cards, #best_cards, #hole_cards, #com_cards {
        font-size: 90px;
    }
}

@media (max-width: 347px) {
    .cards, #best_cards, #hole_cards, #com_cards {
        font-size: 85px;
    }
}

@media (max-width: 329px) {
    .cards, #best_cards, #hole_cards, #com_cards {
        font-size: 80px;
    }
}

@media (max-width: 311px) {
    .cards, #best_cards, #hole_cards, #com_cards {
        font-size: 75px;
    }
}

@media (max-width: 294px) {
    .cards, #best_cards, #hole_cards, #com_cards {
        font-size: 70px;
    }
}